
    h2 
    {
        font-family: monospace;
        text-align: center;
    }
    #descricao
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        color: red;
        position:absolute;
        width: 600px;
        left: 200px;
    }
    
    
    body 
    {
        background-color: rgb(150, 240, 240);
        width: auto;
    }
    #foto
    {
        position: absolute;
        border-radius: 40%;
        left: 900px;
        padding: 10px;
        background-color: black;
    }
    #titulo {text-align: center;}
    #hab 
    {
        font-size: 30px;
        text-align: center;
    }
    .cad {font-size: 25px;}
    .c {font-size: 20px;}
    .elet {font-size: 15px;}
    h3{text-align: center;}
    .nome
    {
        text-align: center;

    }

    .baixo
    {
        position: absolute;
        top: 500px;
        width: 100%;
    }

    .impar
    {
        font-style: italic;
    }
    .hab
    {
        position: absolute;
        left: 500px;
    }

    .ind
    {
        position: absolute;
        top: 50px;
    }
    .links
    {
        position:absolute;
        top: 500px;
    }